@import helper._
@import modules.utility.twirl.CustomHelpers._
@import modules.genre.{CreateGenreForm}
@(genreForm: Form[CreateGenreForm], id: Option[Long] = None)(implicit request: MessagesRequestHeader, flash: Flash)

@main("Create movie") {
    @form(
    if (id != None) modules.genre.routes.GenreController.update(id.get) else modules.genre.routes.GenreController.saveNewGenre(),
    'class -> s"ui form ${if(genreForm.hasErrors) "error" else ""}"
    ) {
        @inputText(
            genreForm("title"),
            '_label -> "Title"
        )

        @if(id != None) {
            <button id="edit-submit" class="ui primary button" type="submit">Update Genre</button>
        } else {
            <button id="create-submit" class="ui primary button" type="submit">Add Genre</button>
        }
        <a class="ui button" href="@modules.genre.routes.GenreController.list()">Cancel</a>
    }
}