@import modules.genre.Genre
@import modules.util.Page
@(genres: Page[Genre])(implicit request: MessagesRequestHeader, flash: Flash)

@paginate(page: Int) = @{
    modules.genre.routes.GenreController.list(page)
}

@main("Genres") {

    <a class="ui button" href="@modules.genre.routes.GenreController.createGenre()">Add new genre</a>

    <table class="ui celled table" style="table-layout: fixed">
        <thead>
            <tr>
                <th>Title</th>
                <th style="width: 70px"></th>
            </tr>
        </thead>
        <tbody>
            @Option(genres.items).filter(_.nonEmpty).map { genres =>
                @genres.map { genre =>
                    <tr>
                        <td>@genre.title.toLowerCase.capitalize</td>
                        <td style="width: 70px">
                            <button
                                    style="border: none; background-color: transparent; padding: 0; cursor: pointer"
                                    type="button"
                                    onclick="location.href='@modules.genre.routes.GenreController.edit(genre.id)'">
                                <i class="edit outline icon"></i>
                            </button>
                            <button
                                    style="border: none; background-color: transparent; padding: 0; cursor: pointer"
                                    type="button"
                                    onclick="deleteRow('@modules.genre.routes.GenreController.delete(genre.id)', '/genres')"
                            >
                                <i class="trash alternate outline icon"></i>
                            </button>
                        </td>
                    </tr>
                }
                }.getOrElse {
                    <tr>
                        <td colspan="2">No genres found</td>
                    </tr>
            }
        </tbody>
    </table>

    <div class="ui pagination menu">
        @genres.prev.map { page =>
            <a class="item" href="@paginate(page)">
                &larr;
            </a>
        }.getOrElse {
            <a class="disabled item">
                &larr;
            </a>
        }
        <a class="active item" style="cursor: default">
            Displaying @(genres.offset + 1) to @(genres.offset + genres.items.size) of @genres.total
        </a>
        @genres.next.map { page =>
            <a class="item" href="@paginate(page)">
                &rarr;
            </a>
        }.getOrElse {
            <a class="disabled item">
                &rarr;
            </a>
        }
    </div>

    <script src="@routes.Assets.versioned("javascripts/update-delete.js")"></script>
}