@import helper._
@import modules.utility.twirl.CustomHelpers._
@import modules.person.CreatePersonForm
@(personForm: Form[CreatePersonForm])(implicit request: MessagesRequestHeader)

@main("Create person") {
	@form(
		modules.person.routes.PersonController.create(),
		'class -> s"ui form ${if(personForm.hasErrors) "error" else ""}"
	) {
		@inputText(personForm("name"))
		@inputText(personForm("age"))
		@CSRF.formField

		<div class="ui button">
			<button class="ui button" type="submit">Add Person</button>
		</div>
	}
}
