@import modules.person.Person
@(persons: Seq[Person])(implicit request: MessagesRequestHeader)

@main("Persons") {
	<a class="ui button" href="@modules.person.routes.PersonController.createView()">Create person</a>
	@request.flash.get("success").map { key =>
		<div class="ui success message">
			<div class="header">Success</div>
			@request.messages(key)
		</div>
	}
	<table class="ui celled table">
		<thead>
			<tr>
				<th>@Messages("name")</th>
				<th>@Messages("age")</th>
			</tr>
		</thead>
		<tbody>
			@Option(persons).filter(_.nonEmpty).map { persons =>
			  @persons.map { person =>
				  <tr>
					  <td>@person.name</td>
					  <td>@person.age</td>
				  </tr>
			  }
			}.getOrElse {
				<tr>
					<td colspan="2">No persons found</td>
				</tr>
			}
		</tbody>
	</table>
}