@import modules.actor.Actor
@(actors: Seq[Actor])(implicit request: MessagesRequestHeader, flash: Flash)

@main("Actors") {

    <a class="ui button" href="@modules.actor.routes.ActorController.createActor()">Add new actor</a>

    <table class="ui celled table" style="table-layout: fixed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birth date</th>
                <th>Nationality</th>
                <th>Height</th>
                <th>Gender</th>
                <th style="width: 70px"></th>
            </tr>
        </thead>
        <tbody>
            @Option(actors).filter(_.nonEmpty).map { actors =>
                @actors.map { actor =>
                    <tr>
                        <td>
                            @actor.firstName
                            @actor.lastName
                        </td>
                        <td>@actor.birthDate</td>
                        <td>@actor.nationality.nationality</td>
                        <td>@actor.height</td>
                        <td>@actor.gender.actualName</td>
                        <td style="width: 70px">
                            <button
                                    style="border: none; background-color: transparent; padding: 0; cursor: pointer"
                                    type="button"
                                    onclick="location.href='@modules.actor.routes.ActorController.edit(actor.id)'">
                                <i class="edit outline icon"></i>
                            </button>
                            <button
                                    style="border: none; background-color: transparent; padding: 0; cursor: pointer"
                                    type="button"
                                    onclick="deleteRow('@modules.actor.routes.ActorController.delete(actor.id)', '/actors')"
                            >
                                <i class="trash alternate outline icon"></i>
                            </button>
                        </td>
                    </tr>
                }
                }.getOrElse {
                <tr>
                    <td colspan="2">No actors found</td>
                </tr>
            }
        </tbody>
    </table>

    <script src="@routes.Assets.versioned("javascripts/update-delete.js")"></script>
}