@import modules.actor.{Actor, SortableField, SortOrder, SortItems}
@import modules.util.Page
@import helper._
@import modules.utility.twirl.CustomHelpers._
@import modules.actor.{FilterActorForm}
@(actors: Page[Actor], filterForm: Form[FilterActorForm], sortItems: SortItems)(implicit request: MessagesRequestHeader, flash: Flash)

@paginate(page: Int) = @{
    modules.actor.routes.ActorController.list(page)
}

@linkToList(newOrderBy: SortableField.Value) = @{
    modules.actor.routes.ActorController.list(
        1,
        8,
        filterForm("name").value.get,
        filterForm("birthDate").value.getOrElse(""),
        filterForm("heightMin").value.get.toInt,
        filterForm("heightMax").value.get.toInt,
        newOrderBy,
        if (sortItems.order == SortOrder.asc) SortOrder.desc else SortOrder.asc
    )
}

@main("Actors") {

    @form(
        modules.actor.routes.ActorController.list(),
        'class -> s"ui form ${if(filterForm.hasErrors) "error" else ""}"
    ) {

        <a class="ui button" href="@modules.actor.routes.ActorController.createActor()">Add new actor</a>
        <button id="submit" class="ui primary button" type="submit">Filter</button>

        <table class="ui celled table" style="table-layout: fixed">
            <thead>
                <tr>
                    <th><a class="header" href="@linkToList(SortableField.name)">Name</a></th>
                    <th><a class="header" href="@linkToList(SortableField.birthDate)">Birth date</a></th>
                    <th>Nationality</th>
                    <th><a class="header" href="@linkToList(SortableField.height)">Height</a></th>
                    <th>Gender</th>
                    <th style="width: 70px"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @inputText(
                            filterForm("name"),
                            '_label -> ""
                        )
                    </td>
                    <td>
                        @inputText(
                            filterForm("birthDate"),
                            'type -> "date",
                            '_label -> ""
                        )
                    </td>
                    <td></td>
                    <td>
                        @inputText(
                            filterForm("heightMin"),
                            '_label -> "",
                            'type -> "number"
                        )
                        @inputText(
                            filterForm("heightMax"),
                            '_label -> "",
                            'type -> "number"
                        )
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                @Option(actors.items).filter(_.nonEmpty).map { actors =>
                    @actors.map { actor =>
                        <tr>
                            <td>
                                @actor.firstName
                                @actor.lastName
                            </td>
                            <td>@actor.birthDate</td>
                            <td>@actor.nationality.nationality</td>
                            <td>@actor.height</td>
                            <td>@actor.gender.actualName</td>
                            <td style="width: 70px">
                                <button
                                        style="border: none; background-color: transparent; padding: 0; cursor: pointer"
                                        type="button"
                                        onclick="location.href='@modules.actor.routes.ActorController.edit(actor.id)'">
                                    <i class="edit outline icon"></i>
                                </button>
                                <button
                                        style="border: none; background-color: transparent; padding: 0; cursor: pointer"
                                        type="button"
                                        onclick="deleteRow('@modules.actor.routes.ActorController.delete(actor.id)', '/actors')"
                                >
                                    <i class="trash alternate outline icon"></i>
                                </button>
                            </td>
                        </tr>
                    }
                    }.getOrElse {
                    <tr>
                        <td colspan="2">No actors found</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <div class="ui pagination menu" style="margin-top: 10px">
        @actors.prev.map { page =>
            <a class="item" href="@paginate(page)">
                &larr;
            </a>
        }.getOrElse {
            <a class="disabled item">
                &larr;
            </a>
        }
        <a class="active item" style="cursor: default">
            Displaying @(actors.offset + 1) to @(actors.offset + actors.items.size) of @actors.total
        </a>
        @actors.next.map { page =>
            <a class="item" href="@paginate(page)">
                &rarr;
            </a>
        }.getOrElse {
            <a class="disabled item">
                &rarr;
            </a>
        }
    </div>

    <script src="@routes.Assets.versioned("javascripts/update-delete.js")"></script>
}