@import modules.movie.Movie
@(movies: Seq[Movie])(implicit request: MessagesRequestHeader, flash: Flash)

@main("Movies") {



    <a class="ui button" href="@modules.movie.routes.MovieController.createMovie()">Add new movie</a>

    <table class="ui celled table" style="table-layout: fixed">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Release date</th>
                <th>Country</th>
                <th>Language</th>
                <th style="width: 70px"></th>
            </tr>
        </thead>
        <tbody>
            @Option(movies).filter(_.nonEmpty).map { movies =>
                @movies.map { movie =>
                    <tr>
                        <td>@movie.title</td>
                        <td>@movie.description</td>
                        <td>@movie.releaseDate</td>
                        <td>@movie.country.countryName</td>
                        <td>@movie.language.actualName</td>
                        <td style="width: 70px">
                            <button
                                    style="border: none; background-color: transparent; padding: 0; cursor: pointer"
                                    type="button"
                                    onclick="location.href='@modules.movie.routes.MovieController.edit(movie.id)'">
                                <i class="edit outline icon"></i>
                            </button>
                            <button
                                    style="border: none; background-color: transparent; padding: 0; cursor: pointer"
                                    type="button"
                                    onclick="deleteRow('@modules.movie.routes.MovieController.delete(movie.id)', '/movies')"
                            >
                                <i class="trash alternate outline icon"></i>
                            </button>
                        </td>
                    </tr>
            }
            }.getOrElse {
                <tr>
                    <td colspan="2">No movies found</td>
                </tr>
            }
        </tbody>
    </table>

    <script src="@routes.Assets.versioned("javascripts/update-delete.js")"></script>
}