@import modules.movie.Movie
@import modules.util.Page
@(movies: Page[Movie])(implicit request: MessagesRequestHeader, flash: Flash)

@paginate(page: Int) = @{
    modules.movie.routes.MovieController.list(page)
}

@main("Movies") {

    <a class="ui button" href="@modules.movie.routes.MovieController.createMovie()">Add new movie</a>

    <table class="ui celled table" style="table-layout: fixed">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Release date</th>
                <th>Country</th>
                <th>Language</th>
                <th style="width: 70px"></th>
            </tr>
        </thead>
        <tbody>
            @Option(movies.items).filter(_.nonEmpty).map { movies =>
                @movies.map { movie =>
                    <tr>
                        <td>@movie.title</td>
                        <td>@movie.description</td>
                        <td>@movie.releaseDate</td>
                        <td>@movie.country.countryName</td>
                        <td>@movie.language.actualName</td>
                        <td style="width: 70px">
                            <button
                                    style="border: none; background-color: transparent; padding: 0; cursor: pointer"
                                    type="button"
                                    onclick="location.href='@modules.movie.routes.MovieController.edit(movie.id)'">
                                <i class="edit outline icon"></i>
                            </button>
                            <button
                                    style="border: none; background-color: transparent; padding: 0; cursor: pointer"
                                    type="button"
                                    onclick="deleteRow('@modules.movie.routes.MovieController.delete(movie.id)', '/movies')"
                            >
                                <i class="trash alternate outline icon"></i>
                            </button>
                        </td>
                    </tr>
            }
            }.getOrElse {
                <tr>
                    <td colspan="2">No movies found</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="ui pagination menu">
        @movies.prev.map { page =>
            <a class="item" href="@paginate(page)">
                &larr;
            </a>
        }.getOrElse {
            <a class="disabled item">
                &larr;
            </a>
        }
        <a class="active item" style="cursor: default">
            Displaying @(movies.offset + 1) to @(movies.offset + movies.items.size) of @movies.total
        </a>
        @movies.next.map { page =>
            <a class="item" href="@paginate(page)">
                &rarr;
            </a>
        }.getOrElse {
            <a class="disabled item">
                &rarr;
            </a>
        }
    </div>

    <script src="@routes.Assets.versioned("javascripts/update-delete.js")"></script>
}