@(title: String)(content: Html)(implicit flash: Flash)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")"/>

	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>
    </head>
    <body>
	    <div class="ui container">
	    <div class="ui menu">
            <a class="item" href="@modules.movie.routes.MovieController.index()">Index</a>
            <a class="item" href="@modules.movie.routes.MovieController.list()">Movies</a>
            <a class="item" href="@modules.director.routes.DirectorController.list()">Directors</a>
            <a class="item" href="@modules.actor.routes.ActorController.list()">Actors</a>
	    </div>
		    <div class="ui segment">
                @flash.get("success").map { message =>
                    <div class="ui success message">
                        <strong>Done!</strong> @message
                    </div>
                }
		        @content
		    </div>
	    </div>
    </body>
</html>
