@import helper._
@import modules.utility.twirl.CustomHelpers._
@import modules.director.{CreateDirectorForm}
@import modules.util.{Country, Gender}
@(directorForm: Form[CreateDirectorForm], id: Long = 0)(implicit request: MessagesRequestHeader, flash: Flash)

@main("Add director") {
@form(
    if (directorForm("firstName").value) modules.director.routes.DirectorController.update(id) else modules.director.routes.DirectorController.saveNewDirector(),
    'class -> s"ui form ${if(directorForm.hasErrors) "error" else ""}"
    ) {
        @inputText(
            directorForm("firstName"),
            '_label -> "First name"
        )
        @inputText(
            directorForm("lastName"),
            '_label -> "Last name"
        )
        @inputText(
            directorForm("birthDate"), 'type -> "date",
            '_label -> "Birth date"
        )
        @select(
            directorForm("nationality"),
            Country.getCountryValues.map(nationalityVal => (nationalityVal.dbName, nationalityVal.nationality)).toSeq,
            '_label -> "Nationality"
        )
        @inputText(
            directorForm("height"),
            '_label -> "Height",
            'type -> "number"
        )
        @select(
            directorForm("gender"),
            Gender.getGenderValues.map(genderVal => (genderVal.dbName, genderVal.actualName)).toSeq,
            '_label -> "Gender"
        )

        @if(directorForm("firstName").value) {
            <button id="edit-submit" class="ui primary button" type="submit">Update director</button>
        } else {
            <button id="create-submit" class="ui primary button" type="submit">Add director</button>
        }
        <a class="ui button" href="@modules.director.routes.DirectorController.list()">Cancel</a>
    }
}