@import modules.director.Director
@(directors: Seq[Director])(implicit request: MessagesRequestHeader, flash: Flash)

@main("Directors") {

    <a class="ui button" href="@modules.director.routes.DirectorController.createDirector()">Add new director</a>

    <table class="ui celled table" style="table-layout: fixed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birth date</th>
                <th>Nationality</th>
                <th>Height</th>
                <th>Gender</th>
                <th style="width: 70px"></th>
            </tr>
        </thead>
        <tbody>
            @Option(directors).filter(_.nonEmpty).map { directors =>
                @directors.map { director =>
                    <tr>
                        <td>
                            @director.firstName
                            @director.lastName
                        </td>
                        <td>@director.birthDate</td>
                        <td>@director.nationality.nationality</td>
                        <td>@director.height</td>
                        <td>@director.gender.actualName</td>
                        <td style="width: 70px">
                            <button
                                    style="border: none; background-color: transparent; padding: 0; cursor: pointer"
                                    type="button"
                                    onclick="location.href='@modules.director.routes.DirectorController.edit(director.id)'">
                                <i class="edit outline icon"></i>
                            </button>
                            <button
                                    style="border: none; background-color: transparent; padding: 0; cursor: pointer"
                                    type="button"
                                    onclick="deleteRow('@modules.director.routes.DirectorController.delete(director.id)', '/directors')"
                            >
                                <i class="trash alternate outline icon"></i>
                            </button>
                        </td>
                    </tr>
                }
                }.getOrElse {
                    <tr>
                        <td colspan="2">No directors found</td>
                    </tr>
            }
        </tbody>
    </table>

    <script src="@routes.Assets.versioned("javascripts/update-delete.js")"></script>
}